[Desktop Entry]
Type=Service
Name=Plan KPlato Import Filter
Name[ca]=Filtre d'importació KPlato per al Plan
Name[ca@valencia]=Filtre d'importació KPlato per al Plan
Name[de]=KPlato-Importfilter für Calligra Plan
Name[fr]=Filtre d'importation KPlato de Plan
Name[gl]=Filtro para Plan de importación de KPlato
Name[nl]=Plan importfilter voor KPlato
Name[pt]=Filtro de Importação do KPlato do Plan
Name[sk]=Importný filter Plan KPlato
Name[sv]=Plan KPlato importfilter
Name[uk]=Фільтр імпортування даних KPlato для Plan
Name[x-test]=xxPlan KPlato Import Filterxx
X-KDE-Export=application/x-vnd.kde.plan
X-KDE-Import=application/x-vnd.kde.kplato
X-KDE-Weight=1
X-KDE-Library=plankplatoimport
X-KDE-ServiceTypes=Plan/Filter
