<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="Task Execution" version="5" translationDomain="calligraplanlibs">
    <MenuBar>
<!--        <Menu name="edit"><text>&amp;Edit</text>
            <Separator/>
            <Action name="task_progress"/>
            <Action name="task_description"/>
            <Action name="task_documents"/>
        </Menu>-->
        <Menu name="view">
            <Separator/>
            <Action name="expand_all"/>
            <Action name="collapse_all"/>
            <Separator/>
            <Action name="show_project"/>
            <Action name="split_view"/>
            <Separator/>
            <Action name="print"/>
            <Action name="print_preview"/>
            <Action name="print_pdf"/>
            <Action name="print_options"/>
            <Separator/>
            <Action name="configure_view"/>
        </Menu>
    </MenuBar>

    <ToolBar name="taskexecutionToolBar" fullWidth="false" noMerge="1"><Text>Tools</Text>
    </ToolBar>

    <Menu name="taskview_popup">
        <Action name="task_progress"/>
        <Action name="task_description"/>
        <Action name="task_documents"/>
    </Menu>
    <Menu name="taskview_milestone_popup">
        <Action name="task_progress"/>
        <Action name="task_description"/>
        <Action name="task_documents"/>
    </Menu>
    <Menu name="taskview_summary_popup">
        <Action name="task_description"/>
        <Action name="task_documents"/>
    </Menu>
</gui>
