<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui>
<gui name="workpackageview" version="2" translationDomain="calligraplan">
    <MenuBar>
        <Menu name="view">
            <text>&amp;View</text>
            <Action name="split_view"/>
            <Separator/>
            <Action name="expand_all"/>
            <Action name="collapse_all"/>
            <Separator/>
            <Action name="print"/>
            <Action name="print_pdf"/>
            <Action name="print_options"/>
            <Separator/>
            <Action name="configure_view"/>
        </Menu>
    </MenuBar>
    <ToolBar name="project">
        <Action name="send_workpackage"/>
        <Action name="open_workpackages"/>
    </ToolBar>
    <Menu name="workpackage_popup">
        <Action name="task_progress"/>
        <Action name="task_description"/>
        <Action name="task_documents"/>
    </Menu>
</gui>
