[Desktop Entry]
Name=Plan Scheduler Plugin
Name[ar]=مُلحق مُجدوِل المُخطِط
Name[ca]=Connector de planificador del Plan
Name[ca@valencia]=Connector de planificador de Plan
Name[de]=Plan-Planermodul
Name[en_GB]=Plan Scheduler Plugin
Name[eo]=Planila Kromprogramo
Name[es]=Complemento planificador de Plan
Name[et]=Plani ajastamisplugin
Name[eu]=Plan-en antolatzaile-plugina
Name[fi]=Planin aikataulutusliitännäinen
Name[fr]=Module de calendrier pour Plan
Name[gl]=Complemento de planificación para Plan
Name[he]=תוסף מתזמן תכנון
Name[ia]=Planificator
Name[id]=Plugin Penjadwal Rencana
Name[it]=Estensione di pianificazione di Plan
Name[ka]=დაგეგმვის დამატება
Name[nl]=Planner-plug-in voor Plan
Name[pl]=Wtyczka programu planowania Plan
Name[pt]='Plugin' de Escalonamento do Plan
Name[pt_BR]=Plugin de calendário do Plan
Name[ru]=Модуль планировщика
Name[sk]=Plánovací plugin Plan
Name[sl]=Vtičnik razporejevalnika planov
Name[sv]=Plan schemaläggningsinsticksprogram
Name[tr]=Plan Zamanlayıcı Eklentisi
Name[uk]=Додаток планування Plan
Name[zh_CN]=Plan 调度器插件
Type=ServiceType
X-KDE-ServiceType=Plan/SchedulerPlugin
Comment=A plugin that calculates a project schedule
Comment[ar]=مُلحق يحسِب جَدولة مشروع
Comment[ca]=Un connector que calcula un planificador de projectes
Comment[ca@valencia]=Un connector que calcula un planificador de projectes
Comment[de]=Ein Modul, das einen Projektzeitplan berechnet
Comment[en_GB]=A plugin that calculates a project schedule
Comment[eo]=Kromaĵo kiu kalkulas projektan horaron
Comment[es]=Un complemento que calcula la planificación de un proyecto
Comment[et]=Plugin projektide ajakava arvutamiseks
Comment[eu]=Proiektu baten plangintza kalkulatzen duen plugin bat
Comment[fi]=Projektin aikataulun laskeva liitännäinen
Comment[fr]=Un Module externe qui calcule le programme d'un projet
Comment[gl]=Complemento para calcular os tempos e datas dun proxecto.
Comment[he]=תוסף שמחשב תזמון מיזם
Comment[id]=Sebuah plugin yang menghitung jadwal projek
Comment[it]=Un'estensione per pianificare progetti
Comment[ka]=დამატება, რომელიც პროექტის სამიზნე თარიღებს ითვლის
Comment[nl]=Een plug-in, die een projectplanning berekent
Comment[pl]=Wtyczka, która oblicza harmonogram projektu
Comment[pt]=Um 'plugin' que calcula o escalonamento de um projecto
Comment[pt_BR]=Um plugin que calcula o agendamento de um projeto
Comment[ru]=Модуль для расчёта графика проекта
Comment[sk]=Plugin ktorý vypočíta plán projektu
Comment[sl]=Vtičnik, ki izračuna časovni plan projekta
Comment[sv]=Ett insticksprogram som beräknar ett projekts schema
Comment[tr]=Bir proje zamanlaması hesaplayan bir eklenti
Comment[uk]=Додаток для обчислення розкладу проєкту
Comment[zh_CN]=一个计算项目调度的插件
