[Desktop Entry]
Name=Plan Scheduler Plugin
Name[ca]=Connector de planificador del Plan
Name[ca@valencia]=Connector de planificador del Plan
Name[de]=Plan-Planermodul
Name[en_GB]=Plan Scheduler Plugin
Name[es]=Complemento planificador de Plan
Name[fr]=Module de calendrier pour Plan
Name[gl]=Complemento de planificación para Plan
Name[it]=Estensione di pianificazione di Plan
Name[nl]=Planner-plug-in voor Plan
Name[pt]='Plugin' de Escalonamento do Plan
Name[pt_BR]=Plugin de calendário do Plan
Name[sk]=Plánovací plugin Plan
Name[sv]=Plan schemaläggningsinsticksprogram
Name[uk]=Додаток планування Plan
Name[x-test]=xxPlan Scheduler Pluginxx
Type=ServiceType
X-KDE-ServiceType=Plan/SchedulerPlugin
Comment=A plugin that calculates a project schedule
Comment[ca]=Un connector que calcula un planificador de projectes
Comment[ca@valencia]=Un connector que calcula un planificador de projectes
Comment[de]=Ein Modul, das einen Projektzeitplan berechnet
Comment[en_GB]=A plugin that calculates a project schedule
Comment[es]=Un complemento que calcula la planificación de un proyecto
Comment[fr]=Un Module externe qui calcule le programme d'un projet
Comment[gl]=Complemento para calcular os tempos e datas dun proxecto.
Comment[it]=Un'estensione per pianificare progetti
Comment[nl]=Een plug-in, die een projectplanning berekent
Comment[pt]=Um 'plugin' que calcula o escalonamento de um projecto
Comment[pt_BR]=Um plugin que calcula o agendamento de um projeto
Comment[sk]=Plugin ktorý vypočíta plán projektu
Comment[sv]=Ett insticksprogram som beräknar ett projekts schema
Comment[uk]=Додаток для обчислення розкладу проекту
Comment[x-test]=xxA plugin that calculates a project schedulexx
