[Desktop Entry]
Type=Service
Name=CalligraPlanPortfolioPart
Name[ar]=جزء حافظة مشاريع كاليغرا المُخطِط
Name[ca]=Part Portfolio del Calligra Plan
Name[ca@valencia]=Part Portfolio de Calligra Plan
Name[de]=CalligraPlanPortfolioPart
Name[en_GB]=CalligraPlanPortfolioPart
Name[eo]=CalligraPlanPortfolioParto
Name[es]=CalligraPlanPortfolioPart
Name[eu]=CalligraPlanPortfolioPart
Name[fr]=CalligraPlanPortfolioPart
Name[gl]=CalligraPlanPortfolioPart
Name[he]=חלק_תיק_תכנון_Calligra
Name[id]=CalligraPlanPortfolioPart
Name[it]=CalligraPlanPortfolioPart
Name[ka]=CalligraPlanPortfolioPart
Name[nl]=CalligraPlanPortfolioPart
Name[pl]=CalligraPlanPortfolioPart
Name[pt]=CalligraPlanPortfolioPart
Name[pt_BR]=CalligraPlanPortfolioPart
Name[ru]=Модуль портфеля Calligra Plan
Name[sl]=Del portfelja Calligra Plan
Name[sv]=Calligra Plan-portföljprogramdel
Name[tr]=CalligraPlanPortfolioPart
Name[uk]=Модуль портфоліо Calligra Plan
Name[zh_CN]=CalligraPlanPortfolioPart
Icon=calligraplanportfolio
MimeType=application/x-vnd.kde.plan.portfolio;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=calligraplanportfoliopart
X-KDE-NativeMimeType=application/x-vnd.kde.plan.portfolio
X-PLAN-Documentation=plan:calligraplan;portfolio:calligraplanportfolio;work:calligraplanwork;
