[Desktop Entry]
Name=Plan Portfolio
Name[ar]=حافظة مشاريع المُخطِط
Name[ca]=Plan Portfolio
Name[ca@valencia]=Plan Portfolio
Name[cs]=Naplánovat portfolio
Name[en_GB]=Plan Portfolio
Name[eo]=Plan Portfolio
Name[es]=Plan Portafolio
Name[fi]=Plan Portfolio
Name[fr]=Collections de planning
Name[gl]=Plan Portfolio
Name[he]=תיק תוכניות
Name[ia]=Portfolio de Plan
Name[it]=Portafoglio di Plan
Name[ka]=პორტფოლიოს დაგეგმვა
Name[nl]=Plan Portfolio
Name[pl]=Portfolio Planu
Name[pt]=Portfólio do Plan
Name[pt_BR]=Plan Portfolio
Name[ru]=Портфель Plan
Name[sl]=Portfelj Plana
Name[sv]=Plan Portfölj
Name[tr]=Plan Portföyü
Name[uk]=Портфоліо Plan
GenericName=Project Portfolio Management
GenericName[ar]=إدارة حافظة المشاريع
GenericName[ca]=Gestió de carteres de projectes
GenericName[ca@valencia]=Gestió de carteres de projectes
GenericName[cs]=Správa projektů portfolia
GenericName[en_GB]=Project Portfolio Management
GenericName[eo]=Mastrumo de Projektaro
GenericName[es]=Gestión de portafolios de proyectos
GenericName[fi]=Projektin portfolionhallinta
GenericName[fr]=Gestion des plannings de projets
GenericName[gl]=Xestión de portafolios de proxectos
GenericName[he]=ניהול תיק מיזמים
GenericName[ia]=Administration de Portfolio de projecto
GenericName[it]=Gestione del portafoglio dei progetti
GenericName[ka]=პროექტის პორტფოლიოს გეგმა
GenericName[nl]=Beheer van portfolio met projecten
GenericName[pl]=Zarządzanie portfolio projektu
GenericName[pt]=Gestão de Portfólios de Projectos
GenericName[pt_BR]=Gerenciamento de portfólio de projeto
GenericName[ru]=Управление портфелем проектов
GenericName[sl]=Upravljanje portfelja projektov
GenericName[sv]=Hantering av projektportfölj
GenericName[tr]=Proje Portföy Yönetimi
GenericName[uk]=Керування портфоліо проєктів
Exec=calligraplanportfolio %U
MimeType=application/x-vnd.kde.plan.portfolio;
Type=Application
Icon=calligraplanportfolio
DocPath=calligraplanportfolio/index.html
X-KDE-NativeMimeType=application/x-vnd.kde.plan.portfolio
Categories=Qt;KDE;Office;ProjectManagement;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.calligraplanportfolio
