<!DOCTYPE gui SYSTEM "kpartgui.dtd" >
<gui name="Calligra Portfolio" version="56" translationDomain="calligraplangroup">
    <MenuBar>
        <Menu name="file" NoMerge="1"><text>&amp;File</text>
            <Action name="file_new" />
            <Action name="activeauthor" />
            <Action name="file_open" />
            <Action name="file_open_recent" />
            <Separator />
            <Action name="file_save" />
            <Action name="file_save_as" />
            <Action name="file_reload_file" />
            <Action name="file_versions_file"/>
            <Separator />
            <Action name="file_send_file" />
            <Separator />
            <Merge/>
            <Separator/>
            <Action name="file_createtemplate"/>
            <Action name="file_createnewproject"/>
            <Separator/>
            <Action name="file_documentinfo" />
            <DefineGroup name="file_infos" />
            <Action name="file_close" group="file_close"/>
        </Menu>
       <Menu name="edit" NoMerge="1"><text>&amp;Edit</text>
            <Action name="edit_undo"/>
            <Action name="edit_redo"/>
            <Separator/>
<!--             <Action name="edit_cut"/> -->
            <Action name="edit_copy"/>
            <Action name="edit_paste"/>
            <Separator/> 
        </Menu>
        <Menu name="view" NoMerge="1"><text>&amp;View</text>
            <Action name="view_newview"/>
            <Separator/>
            <ActionList name="view_docker_list"/>
            <Separator/>
            <ActionList name="viewmenu"/>
        </Menu>
        <Menu name="settings" NoMerge="1"><text>&amp;Settings</text>
<!--            <Action name="view_toggledockertitlebars" group="settings_configure"/>
            <Action name="settings_dockers_menu" group="settings_configure"/>-->
            <Separator/>
            <Action name="configure" group="settings_configure"/>
        </Menu>
        <Menu name="help" NoMerge="1"><text>&amp;Help</text>
            <Action name="plan_introduction"/>
        </Menu>
    </MenuBar>
    <ToolBar name="mainToolBar" fullWidth="false"><text>Main Toolbar</text>
        <Action name="file_new" />
        <Action name="file_open" />
        <Action name="file_save" />
        <!--
        <Action name="file_print" />
        <Action name="file_print_preview" />
        //-->
        <Separator/>
        <Action name="edit_undo"/>
        <Action name="edit_redo"/>
    </ToolBar>
</gui>
