<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="Summary View" version="1" translationDomain="calligraplangroup">
    <MenuBar>
        <Menu name="view"><text>&amp;View</text>
            <Action name="print"/>
            <Action name="print_preview"/>
            <Action name="print_pdf"/>
            <Action name="print_options"/>
        </Menu>
    </MenuBar>

<!--    <ToolBar name="viewToolBar"  fullWidth="false"><text>Tools</text>
    </ToolBar>-->

    <Menu name="summaryview_project_popup">
        <Action name="project_description"/>
        <Separator/>
        <Action name="print"/>
        <Action name="print_preview"/>
        <Action name="print_pdf"/>
        <Action name="print_options"/>
    </Menu>
    <Menu name="summaryview_popup">
        <Action name="print"/>
        <Action name="print_preview"/>
        <Action name="print_pdf"/>
        <Action name="print_options"/>
    </Menu>
</gui>
