[Desktop Entry]
Type=Link
URL=.source/Empty.planworkt
Icon=template_empty
Name=Empty Document
Name[ca]=Document buit
Name[ca@valencia]=Document buit
Name[de]=Leeres Dokument
Name[fr]=Document vide
Name[gl]=Documento baleiro
Name[it]=Documento vuoto
Name[nl]=Leeg document
Name[pt]=Documento Vazio
Name[sk]=Prázdny dokument
Name[sv]=Tomt dokument
Name[uk]=Порожній документ
Name[x-test]=xxEmpty Documentxx
Comment=Creates an empty document
Comment[ca]=Crea un document buit
Comment[ca@valencia]=Crea un document buit
Comment[de]=Erstellt ein leeres Dokument
Comment[fr]=Crée un document vide
Comment[gl]=Crea un documento baleiro.
Comment[it]=Crea un documento vuoto
Comment[nl]=Een leeg document aanmaken
Comment[pt]=Cria um documento vazio
Comment[sk]=Vytvorí prázdny dokument
Comment[sv]=Skapar ett tomt dokument
Comment[uk]=Створює порожній документ
Comment[x-test]=xxCreates an empty documentxx
