[Desktop Entry]
X-KDE-ServiceTypes=Plan/SchedulerPlugin
Type=Service
X-KDE-Library=plantjscheduler

Name=TJ Scheduler
Name[ca]=Planificador TJ
Name[ca@valencia]=Planificador TJ
Name[cs]=Plánovač TJ
Name[de]=TJ-Planer
Name[en_GB]=TJ Scheduler
Name[es]=Planificador TJ
Name[fr]=Programe TJ
Name[gl]=Planificador de TJ
Name[it]=Pianificatore TJ
Name[nl]=TJ-planner
Name[pl]=Program planujący TJ
Name[pt]=Escalonamento TJ
Name[pt_BR]=Calendarização TJ
Name[sk]=TJ plánovač
Name[sv]=TJ-schemaläggning
Name[uk]=Засіб планування TJ
Name[x-test]=xxTJ Schedulerxx
Name[zh_CN]=TJ 调度器
Comment=The TaskJuggler scheduler
Comment[ca]=El planificador TaskJuggler
Comment[ca@valencia]=El planificador TaskJuggler
Comment[cs]=Plánovač TaskJuggler
Comment[de]=Das Planungsprogramm TaskJuggler
Comment[en_GB]=The TaskJuggler scheduler
Comment[es]=El planificador TaskJuggler
Comment[fr]=Calendrier de TaskJuggler
Comment[gl]=Planificador de TaskJuggler.
Comment[it]=La pianificazione di TaskJuggler
Comment[nl]=De planner van TaskJuggler
Comment[pl]=Program planujący TaskJuggler (ŻąglerZadań)
Comment[pt]=O escalonamento do TaskJuggler
Comment[pt_BR]=O calendarizador da TaskJuggler
Comment[sk]=Plánovač TaskJuggler
Comment[sv]=Taskjuggler schemaläggning
Comment[uk]=Засіб планування TaskJuggler
Comment[x-test]=xxThe TaskJuggler schedulerxx
Comment[zh_CN]=TaskJuggler 调度器
