[Desktop Entry]
Type=Link
URL=.source/Plain.plant
Name=Plain
Name[ar]=عادي
Name[ca]=Normal
Name[ca@valencia]=Normal
Name[cs]=Prostý
Name[de]=Einfach
Name[en_GB]=Plain
Name[eo]=Plata
Name[es]=Sin formato
Name[et]=Puhas
Name[eu]=Soila
Name[fr]=Brut
Name[gl]=Plano
Name[he]=פשטני
Name[ia]=Plan
Name[id]=Polos
Name[it]=Normale
Name[ka]=სუფთა
Name[nl]=Gewoon
Name[pl]=Zwykły
Name[pt]=Simples
Name[pt_BR]=Simples
Name[ru]=Обычный
Name[sk]=Prostý
Name[sl]=Preprosto
Name[sv]=Vanligt
Name[tr]=Düz
Name[uk]=Звичайна
Name[zh_CN]=朴素
Name[zh_TW]=普通
Icon=template_timechart
