[Desktop Entry]
Type=Link
URL=.source/Plain.plant
Name=Plain
Name[ca]=Normal
Name[ca@valencia]=Normal
Name[de]=Einfach
Name[en_GB]=Plain
Name[es]=Sin formato
Name[fr]=Brut
Name[gl]=Plano
Name[it]=Normale
Name[nl]=Gewoon
Name[pl]=Zwykły
Name[pt]=Simples
Name[pt_BR]=Simples
Name[sk]=Prostý
Name[sv]=Vanligt
Name[uk]=Звичайна
Name[x-test]=xxPlainxx
Name[zh_CN]=朴素
Icon=template_timechart
