[Desktop Entry]
Name=Plan Scripting Plugin
Name[ca]=Connector per crear scripts del Plan
Name[ca@valencia]=Connector per crear scripts del Plan
Name[de]=Plan-Skripting-Modul
Name[fr]=Module externe de scriptage de Plan
Name[nl]=Scriptplug-in van Plan
Name[pt]='Plugin' de Programação do Plan
Name[sk]=Plugin skriptovania Plan
Name[sv]=Plan skriptinsticksprogram
Name[uk]=Додаток роботи зі скриптами для Plan
Name[x-test]=xxPlan Scripting Pluginxx
X-KDE-ServiceTypes=Plan/ViewPlugin
Type=Service
X-KDE-Library=krossmoduleplan
X-Plan-Version=28
