[Desktop Entry]
Type=Service
Name=CalligraPlanPortfolioPart
Name[ca]=Part de portafolis del Calligra Plan
Name[ca@valencia]=Part de portafolis del Calligra Plan
Name[es]=CalligraPlanPortfolioPart
Name[nl]=CalligraPlanPortfolioPart
Name[pt]=CalligraPlanPortfolioPart
Name[sl]=CalligraPlanPortfolioPart
Name[sv]=Calligra Plan-portföljprogramdel
Name[uk]=Модуль портфоліо Calligra Plan
Name[x-test]=xxCalligraPlanPortfolioPartxx
Icon=calligraplanportfolio
MimeType=application/x-vnd.kde.plan.portfolio;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=calligraplanportfoliopart
X-KDE-NativeMimeType=application/x-vnd.kde.plan.portfolio
