[Desktop Entry]
Type=Service
Name=CalligraPlanPortfolioPart
Icon=calligraplanportfolio
MimeType=application/x-vnd.kde.plan.portfolio;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=calligraplanportfoliopart
X-KDE-NativeMimeType=application/x-vnd.kde.plan.portfolio
