[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plan/Filter
Comment=Calligra Filter
Comment[ca]=Filtre del Calligra
Comment[nl]=Calligra Filter
Comment[pt]=Filtro do Calligra
Comment[uk]=Фільтр Calligra
Comment[x-test]=xxCalligra Filterxx

[PropertyDef::X-KDE-Import]
Type=QStringList

[PropertyDef::X-KDE-Export]
Type=QStringList

[PropertyDef::X-KDE-Weight]
Type=int

[PropertyDef::X-KDE-Available]
Type=QString
