[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plan/Part
Comment=Calligra Component
Comment[ca]=Component del Calligra
Comment[nl]=Calligra-component
Comment[pt]=Componente do Calligra
Comment[uk]=Компонент Calligra
Comment[x-test]=xxCalligra Componentxx

# Name of the native mimetype (mandatory)
[PropertyDef::X-KDE-NativeMimeType]
Type=QString

# Name of the OASIS native mimetype (temporary, and optional)
[PropertyDef::X-KDE-NativeOasisMimeType]
Type=QString

# Name of the additional mimetypes that the application can load/save natively
[PropertyDef::X-KDE-ExtraNativeMimeTypes]
Type=QStringList

