[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plan/Filter
Comment=Calligra Filter
Comment[ar]=مُرشِّح كاليغرا
Comment[ca]=Filtre del Calligra
Comment[ca@valencia]=Filtre de Calligra
Comment[cs]=Filtr Calligra
Comment[de]=Calligra-Filter
Comment[en_GB]=Calligra Filter
Comment[eo]=Calligra-Filtrilo
Comment[es]=Filtro de Calligra
Comment[et]=Calligra filter
Comment[eu]=Calligra iragazkia
Comment[fi]=Calligra-suodatin
Comment[fr]=Filtres pour Calligra
Comment[gl]=Filtro para Calligra.
Comment[he]=מסנן Calligra
Comment[ia]=Filtro de Calligra
Comment[id]=Filter Calligra
Comment[it]=Filtro di Calligra
Comment[ka]=Calligra -ის ფილტრი
Comment[nl]=Calligra Filter
Comment[pl]=Filtr Calligra
Comment[pt]=Filtro do Calligra
Comment[pt_BR]=Filtro do Calligra
Comment[ru]=Фильтр Calligra
Comment[sk]=Calligra Filter
Comment[sl]=Calligra filter
Comment[sv]=Calligra-filter
Comment[tr]=Calligra Süzgeç
Comment[uk]=Фільтр Calligra
Comment[zh_CN]=Calligra 过滤器
Comment[zh_TW]=Calligra 過濾器

[PropertyDef::X-KDE-Import]
Type=QStringList

[PropertyDef::X-KDE-Export]
Type=QStringList

[PropertyDef::X-KDE-Weight]
Type=int

[PropertyDef::X-KDE-Available]
Type=QString
