[Desktop Entry]
Type=Service
Name=Plan MS Project Import Filter
Name[ca]=Filtre d'importació del MS Project per al Plan
Name[ca@valencia]=Filtre d'importació del MS Project per al Plan
Name[es]=Filtro de importación MS Project de Plan
Name[fr]=Filtre d'importation pour le logiciel de planning de « Microsoft »
Name[it]=Filtro di importazione da MS Project di Plan
Name[nl]=Plan importfilter voor MS Project
Name[pl]=Filtr importu projektów MS
Name[pt_BR]=Filtro de importação do MS Project para Plan
Name[sl]=Plan uvozni filter za MS Project
Name[sv]=Plan MS Project-importfilter
Name[uk]=Фільтр імпортування даних MS Project для Plan
Name[x-test]=xxPlan MS Project Import Filterxx
X-KDE-Export=application/x-vnd.kde.plan
X-KDE-Import=application/x-fasttrack,application/x-phoenix,application/x-asta,application/x-primavera-pmxml,application/x-primavera-xer,application/x-ganttproject,application/x-mspdi,application/x-projectlibre,application/x-project,application/vnd.ms-project
X-KDE-Weight=1
X-KDE-Library=planmpxjimport
X-KDE-ServiceTypes=Plan/Filter
