[Desktop Entry]
Type=Service
Name=Plan MS Project Import Filter
X-KDE-Export=application/x-vnd.kde.plan
X-KDE-Import=application/x-fasttrack,application/x-phoenix,application/x-asta,application/x-primavera-pmxml,application/x-primavera-xer,application/x-ganttproject,application/x-mspdi,application/x-projectlibre,application/x-project,application/vnd.ms-project
X-KDE-Weight=1
X-KDE-Library=planmpxjimport
X-KDE-ServiceTypes=Plan/Filter
