[Desktop Entry]
Name=Plan WorkPackage Handler
Name[ar]=مُعالِج حزمة عمل المُخطِط
Name[ca]=Gestor de paquets de feina del Plan
Name[ca@valencia]=Gestor de paquets de faena de Plan
Name[de]=Plan-Arbeitspaketverwaltung
Name[en_GB]=Plan WorkPackage Handler
Name[eo]=Plan WorkPackage Handler
Name[es]=Manejador WorkPackage de Plan
Name[et]=Plani töölõikude käitleja
Name[eu]=Plan-en WorkPackage manipulatzailea
Name[fi]=Plan-työpakettikäsittely
Name[fr]=Paquet de travail de Plan
Name[gl]=Xestor para Plan de paquetes de traballo
Name[he]=מטפל בחבילות עבודה של תכנון
Name[id]=Penanganan WorkPackage Plan
Name[it]=Gestore dei pacchetti di lavoro di Plan
Name[ka]=Plan WorkPackage დამმუშავებელი
Name[nl]=Plan werkpakketbeheerder
Name[pl]=Program obsługujący pakiety pracy Plan
Name[pt]=Tratamento de Pacotes de Trabalho do Plan
Name[pt_BR]=Tratamento de pacotes de trabalho do Plan
Name[ru]=Программа обработки Plan WorkPackage
Name[sk]=Spracovač pracovných balíkov Plan
Name[sl]=Obdelovalnik delovnega paketa za Plan
Name[sv]=Plan arbetspakethantering
Name[tr]=Plan WorkPackage İşleyicisi
Name[uk]=Програма опрацювання робочих пакунків Plan
Name[zh_CN]=Plan 工作包处理程序
GenericName=Project Management
GenericName[ar]=إدارة المشاريع
GenericName[ca]=Gestió de projectes
GenericName[ca@valencia]=Gestió de projectes
GenericName[cs]=Správa projektů
GenericName[de]=Projektmanagement
GenericName[en_GB]=Project Management
GenericName[eo]=Projektadministrado
GenericName[es]=Gestión de proyectos
GenericName[et]=Projektihaldus
GenericName[eu]=Proiektuaren kudeaketa
GenericName[fi]=Projektinhallinta
GenericName[fr]=Gestion de projets
GenericName[gl]=Xestión de proxectos
GenericName[he]=ניהול מיזמים
GenericName[ia]=Administration de projectos
GenericName[id]=Pengelolaan Projek
GenericName[it]=Gestione dei progetti
GenericName[ka]=პროექტის მართვა
GenericName[nl]=Projectbeheer
GenericName[pl]=Zarządzanie projektami
GenericName[pt]=Gestão de Projectos
GenericName[pt_BR]=Gerenciamento de projetos
GenericName[ru]=Управление проектами
GenericName[sk]=Správa projektov
GenericName[sl]=Upravljanje projektov
GenericName[sv]=Projekthantering
GenericName[tr]=Proje Yönetimi
GenericName[uk]=Керування проєктами
GenericName[zh_CN]=项目管理
GenericName[zh_TW]=專案管理
Comment=Work Package handler for the Plan project planning tool
Comment[ar]=مُعالِج حزمة العمل لأداة تخطيط المشاريع المُخطِط
Comment[ca]=Gestor de paquets de feina per a l'eina de planificació de projectes Plan
Comment[ca@valencia]=Gestor de paquets de faena per a l'eina de planificació de projectes Plan
Comment[de]=Arbeitspaketverwaltung für das Plan-Projektplanungsprogramm
Comment[en_GB]=Work Package handler for the Plan project planning tool
Comment[eo]=Laborpakaĵa pritraktilo por la Plan-projektplanilo
Comment[es]=Manejador de Work Package para la herramienta de planificación de proyectos Plan
Comment[et]=Plani projektihaldustööriista töölõikude käitleja
Comment[eu]=Plan proiektuak planifikatzeko tresnarentzako lan-paketeak manipulatzekoa
Comment[fi]=Työpakettikäsittely Planin projektinsuunnittelutyökaluun
Comment[fr]=Outil de gestion de lots de travaux pour l'outil de planification de projet Plan
Comment[gl]=Xestor de paquetes para a ferramenta de planificación de proxectos Plan.
Comment[he]=מטפל בחבילות עבודה לכלי תכנון המיזם - תכנון
Comment[id]=Penanganan Work Package untuk alat perencanaan projek Plan
Comment[it]=Gestore dei pacchetti di lavoro dello strumento di pianificazione dei progetti Plan
Comment[ka]=ვებ პაკეტის დამმუშავებელი Plan-ის პროექტის დამგეგმავი ხელსაწყოსთვის
Comment[nl]=Werkpakketbeheerder voor het Plan-projectplanninghulpmiddel
Comment[pl]=Program obsługujący pakiet pracy dla narzędzia planowania projektów Plan
Comment[pt]=Tratamento de pacotes de trabalho para a ferramenta de planeamento de projectos do Plan
Comment[pt_BR]=Tratamento de pacotes de trabalho para a ferramenta de gestão de projetos Plan
Comment[ru]=Обработка пакетов работ для программы управления проектами Plan
Comment[sk]=Spracovač pracovného balíka pre plánovací nástroj Plan
Comment[sl]=Obdelovalnik delovnega paketa za orodje razporejanja projekta Plan
Comment[sv]=Hantering av arbetspaket för projektplaneringsverktyget Plan
Comment[tr]=Plan proje yönetimi aracı için WorkPackage işleyicisi
Comment[uk]=Обробник робочих пакунків для засобу планування проєктів Plan
Comment[zh_CN]=Plan 项目日程计划工具的工作包处理程序
Exec=calligraplanwork %u
MimeType=application/x-vnd.kde.plan.work;application/x-vnd.kde.kplato.work;
Type=Application
Icon=calligraplanwork
X-KDE-ServiceTypes=Calligra/Application
Categories=Qt;KDE;Office;
X-KDE-StartupNotify=true
DocPath=http://userbase.kde.org/PlanWork/Manual
