[Desktop Entry]
X-KDE-Export=text/calendar
Icon=
X-KDE-Import=application/x-vnd.kde.plan
X-KDE-Weight=1
Name=Plan iCalendar Export Filter
Name[ca]=Filtre d'exportació iCalendar del Plan
Name[nl]=Plan iCalendar-exportfilter
Name[pt]=Filtro de Exportação para iCalendar do Plan
Name[uk]=Фільтр експорту до iCalendar Plan
Name[x-test]=xxPlan iCalendar Export Filterxx
X-KDE-ServiceTypes=Plan/Filter
Type=Service
X-KDE-Library=planicalexport
