[Desktop Entry]
X-KDE-Export=text/calendar
Icon=
X-KDE-Import=application/x-vnd.kde.plan
X-KDE-Weight=1
Name=Plan iCalendar Export Filter
Name[ar]=مُرشِّح تصدير آي-روزنامة للمُخطِط
Name[ca]=Filtre d'exportació iCalendar del Plan
Name[ca@valencia]=Filtre d'exportació iCalendar de Plan
Name[de]=iCalendar-Exportfilter für Plan
Name[en_GB]=Plan iCalendar Export Filter
Name[eo]=Plan iCalendar-Eksporta Filtrilo
Name[es]=Filtro de exportación iCalendar de Plan
Name[et]=Plani iCalendari ekspordifilter
Name[eu]=Plan-en iCalendar esportatzeko iragazkia
Name[fi]=Planin iCalendar-vientisuodatin
Name[fr]=Filtre d'exportation iCalendar de Plan
Name[gl]=Filtro para Plan de exportación de iCalendar
Name[he]=מסנן ייצוא iCalendar מתכנון
Name[id]=Filter Ekspor iCalendar Plan
Name[it]=Filtro di esportazione iCalendar di Plan
Name[ka]=თქვენი გეგმის iCalender-ის ფაილში გატანა
Name[nl]=Plan iCalendar-exportfilter
Name[pl]=Filtr eksportu iCalendar z Plan
Name[pt]=Filtro de Exportação para iCalendar do Plan
Name[pt_BR]=Filtro de exportação de iCalendar para Plan
Name[ru]=Фильтр экспорта файлов планировщика в iCalendar
Name[sk]=Exportný filter Plan iCalendar
Name[sl]=Planov izvozni filter za iCalendar
Name[sv]=Plan iCalendar exportfilter
Name[tr]=Plan iCalendar Dışa Aktarma Süzgeci
Name[uk]=Фільтр експорту до iCalendar Plan
Name[zh_CN]=Plan iCalendar 导出过滤器
Name[zh_TW]=Plan iCalendar 匯出過濾程式
X-KDE-ServiceTypes=Plan/Filter
Type=Service
X-KDE-Library=planicalexport
