[Desktop Entry]
X-KDE-ServiceTypes=Plan/SchedulerPlugin
Type=Service
X-KDE-Library=planrcpsscheduler

Name=RCPS Scheduler
Name[ca]=Planificador RCPS
Name[ca@valencia]=Planificador RCPS
Name[de]=RCPS-Planer
Name[fr]=Programe RCPS
Name[gl]=Planificador de RCPS
Name[nl]=RCPS-planner
Name[pt]=Escalonamento RCPS
Name[sk]=RCPS plánovač
Name[sv]=RCPS-schemaläggning
Name[uk]=Засіб планування RCPS
Name[x-test]=xxRCPS Schedulerxx
Comment=Genetics based Resource Constrained Project Scheduler
Comment[ca]=Recurs de conflictes de planificador de projectes basat en la genètica
Comment[ca@valencia]=Recurs de conflictes de planificador de projectes basat en la genètica
Comment[de]=Genetisch basierte ressourcenbeschränkte Projektplanung
Comment[fr]=La génétique fondée sur les conflits de ressource de la programmation du projet
Comment[gl]=Planificador de proxectos con conflitos de recursos baseado en algoritmos xenéticos
Comment[nl]=Op genetica gebaseerde projectplanner voor hulpbronvoorwaarden
Comment[pt]=Escalonamento genético de Projectos com Restrição de Recursos
Comment[sk]=Genetický projektový plánovač konfilktov prostriedkov
Comment[sv]=Genetiskt baserad resursbegränsad projektschemaläggning
Comment[uk]=Генетичний планувальник обмежень ресурсів проекту
Comment[x-test]=xxGenetics based Resource Constrained Project Schedulerxx
