[Desktop Entry]
X-KDE-ServiceTypes=Plan/SchedulerPlugin
Type=Service
X-KDE-Library=planrcpsscheduler

Name=RCPS Scheduler
Name[ca]=Planificador RCPS
Name[ca@valencia]=Planificador RCPS
Name[de]=RCPS-Planer
Name[en_GB]=RCPS Scheduler
Name[es]=Planificador RCPS
Name[fr]=Programe RCPS
Name[gl]=Planificador de RCPS
Name[id]=Penjadwal RCPS
Name[it]=Pianificatore RCPS
Name[nl]=RCPS-planner
Name[pl]=Program planujący RCPS
Name[pt]=Escalonamento RCPS
Name[pt_BR]=Calendarização RCPS
Name[ru]=Планировщик RCPS
Name[sk]=RCPS plánovač
Name[sv]=RCPS-schemaläggning
Name[uk]=Засіб планування RCPS
Name[x-test]=xxRCPS Schedulerxx
Name[zh_CN]=RCPS 调度器
Comment=Genetics based Resource Constrained Project Scheduler
Comment[ca]=Recurs de conflictes de planificador de projectes basat en la genètica
Comment[ca@valencia]=Recurs de conflictes de planificador de projectes basat en la genètica
Comment[de]=Genetisch basierte ressourcenbeschränkte Projektplanung
Comment[en_GB]=Genetics based Resource Constrained Project Scheduler
Comment[es]=Programación de proyectos con restricción de recursos basado en genética
Comment[fr]=La génétique fondée sur les conflits de ressource de la programmation du projet
Comment[gl]=Planificador de proxectos con conflitos de recursos baseado en algoritmos xenéticos
Comment[id]=Genetika berdasarkan Resource Constrained Project Scheduler
Comment[it]=Pianificatore di progetto a risorse limitate basato su algoritmo genetico
Comment[nl]=Op genetica gebaseerde projectplanner voor hulpbronvoorwaarden
Comment[pl]=Program planujący projekt w oparciu o genetycznie ograniczone zasoby
Comment[pt]=Escalonamento genético de Projectos com Restrição de Recursos
Comment[pt_BR]=Calendarização de projetos com restrições de recursos baseada em algoritmos genéticos
Comment[sk]=Genetický projektový plánovač konfilktov prostriedkov
Comment[sv]=Genetiskt baserad resursbegränsad projektschemaläggning
Comment[uk]=Генетичний планувальник обмежень ресурсів проєкту
Comment[x-test]=xxGenetics based Resource Constrained Project Schedulerxx
Comment[zh_CN]=基于遗传算法的资源冲突项目调度器
