[Desktop Entry]
Name=Plan
GenericName=Project Management
Exec=calligraplan %U
MimeType=application/x-vnd.kde.plan;
Type=Application
Icon=calligraplan
DocPath=http://userbase.kde.org/Special:MyLanguage/Plan/Manual
X-KDE-NativeMimeType=application/x-vnd.kde.plan
Categories=Qt;KDE;Office;ProjectManagement;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.calligraplan
