[Desktop Entry]
Name=Plan
Name[ca]=Plan
Name[ca@valencia]=Plan
Name[cs]=Plan
Name[da]=Plan
Name[de]=Plan
Name[en_GB]=Plan
Name[es]=Plan
Name[et]=Plan
Name[fr]=Plan
Name[gl]=Plan
Name[ia]=Plan
Name[id]=Plan
Name[it]=Plan
Name[nl]=Plan
Name[pl]=Plan
Name[pt]=Plan
Name[pt_BR]=Plan
Name[ru]=Plan
Name[sk]=Plan
Name[sv]=Plan
Name[uk]=Plan
Name[x-test]=xxPlanxx
Name[zh_CN]=Plan
GenericName=Project Management
GenericName[ca]=Gestió de projectes
GenericName[ca@valencia]=Gestió de projectes
GenericName[cs]=Správa projektů
GenericName[de]=Projektmanagement
GenericName[en_GB]=Project Management
GenericName[es]=Gestión de proyectos
GenericName[et]=Projektihaldus
GenericName[fr]=Gestion de projets
GenericName[gl]=Xestión de proxectos
GenericName[ia]=Administration de projectos
GenericName[id]=Pengelolaan Projek
GenericName[it]=Gestione dei progetti
GenericName[nl]=Projectbeheer
GenericName[pl]=Zarządzanie projektami
GenericName[pt]=Gestão de Projectos
GenericName[pt_BR]=Gerenciamento de projetos
GenericName[ru]=Управление проектами
GenericName[sk]=Správa projektov
GenericName[sv]=Projekthantering
GenericName[uk]=Керування проєктами
GenericName[x-test]=xxProject Managementxx
GenericName[zh_CN]=项目管理
Exec=calligraplan %U
MimeType=application/x-vnd.kde.plan;
Type=Application
Icon=calligraplan
DocPath=http://userbase.kde.org/Special:MyLanguage/Plan/Manual
X-KDE-NativeMimeType=application/x-vnd.kde.plan
Categories=Qt;KDE;Office;ProjectManagement;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.calligraplan
