[Desktop Entry]
Name=Plan
Name[ca]=Plan
Name[ca@valencia]=Plan
Name[de]=Plan
Name[fr]=Plan
Name[gl]=Plan
Name[nl]=Plan
Name[pt]=Plan
Name[sk]=Plan
Name[sv]=Plan
Name[uk]=Plan
Name[x-test]=xxPlanxx
GenericName=Project Management
GenericName[ca]=Gestió de projectes
GenericName[ca@valencia]=Gestió de projectes
GenericName[de]=Projektmanagement
GenericName[fr]=Gestion de projets
GenericName[gl]=Xestión de proxectos
GenericName[nl]=Projectbeheer
GenericName[pt]=Gestão de Projectos
GenericName[sk]=Správa projektov
GenericName[sv]=Projekthantering
GenericName[uk]=Керування проектами
GenericName[x-test]=xxProject Managementxx
Exec=calligraplan %U
MimeType=application/x-vnd.kde.plan;
Type=Application
Icon=calligraplan
X-KDE-NativeMimeType=application/x-vnd.kde.plan
X-DocPath=https://userbase.kde.org/Plan
Categories=Qt;KDE;Office;ProjectManagement;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.calligraplan
