[Desktop Entry]
Name=Calligra Project Management Component
Name[ca]=Component de gestió de projectes del Calligra
Name[ca@valencia]=Component de gestió de projectes del Calligra
Name[de]=Calligra-Komponente für Projektmanagement
Name[fr]=Composant gestion de projets de Calligra
Name[nl]=Calligra Projectbeheercomponent
Name[pt]=Componente de Gestão de Projectos do Calligra
Name[sk]=Calligra modul pre správu projektov
Name[sv]=Calligra projekthanteringskomponent
Name[uk]=Компонент керування проектами Calligra
Name[x-test]=xxCalligra Project Management Componentxx
X-KDE-Library=planpart
MimeType=application/x-vnd.kde.plan;application/x-vnd.kde.kplato;
Type=Service
X-KDE-ServiceTypes=Calligra/Part
X-KDE-NativeMimeType=application/x-vnd.kde.plan
Icon=calligraplan
