[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plan/ViewPlugin
Comment=GUI functionality for Plan
Comment[ca]=Funcionalitat d'IGU per al Plan
Comment[ca@valencia]=Funcionalitat d'IGU per al Plan
Comment[cs]=Funkcionalita GUI pro Plan
Comment[de]=GUI-Funktionalität für Plan
Comment[en_GB]=GUI functionality for Plan
Comment[es]=Funcionalidad gráfica para Plan
Comment[fr]=Fonctionnalités d'interface pour Plan
Comment[gl]=Funcionalidade para Plan de interface gráfica.
Comment[id]=Fungsionalitas GUI untuk Plan
Comment[it]=Funzionalità d'interfaccia per Plan
Comment[nl]=Interfacefunctionaliteit voor Plan
Comment[pl]=Graficzny interfejs użytkownika dla Plan
Comment[pt]=Funcionalidade gráfica para o Plan
Comment[pt_BR]=Funcionalidade gráfica para o Plan
Comment[sk]=GUI funkcionalita pre Plan
Comment[sv]=Grafisk användargränssnittsfunktion för Plan
Comment[uk]=Функціональність графічного інтерфейсу для Plan
Comment[zh_CN]=Plan 的 GUI 功能
[PropertyDef::X-Plan-Version]
Type=int
