[Desktop Entry]
Name=Plan
Name[ar]=المُخطِط
Name[ca]=Plan
Name[ca@valencia]=Plan
Name[cs]=Plan
Name[da]=Plan
Name[de]=Plan
Name[en_GB]=Plan
Name[eo]=Plan
Name[es]=Plan
Name[et]=Plan
Name[eu]=Plan
Name[fi]=Plan
Name[fr]=Plan
Name[gl]=Plan
Name[he]=תכנון
Name[ia]=Plan
Name[id]=Plan
Name[it]=Plan
Name[ka]=Გეგმა
Name[nl]=Plan
Name[pl]=Plan
Name[pt]=Plan
Name[pt_BR]=Plan
Name[ru]=Plan
Name[sk]=Plan
Name[sl]=Plan
Name[sv]=Plan
Name[tr]=Plan
Name[uk]=Plan
Name[zh_CN]=Plan
Name[zh_TW]=Plan
GenericName=Project Management
GenericName[ar]=إدارة المشاريع
GenericName[ca]=Gestió de projectes
GenericName[ca@valencia]=Gestió de projectes
GenericName[cs]=Správa projektů
GenericName[de]=Projektmanagement
GenericName[en_GB]=Project Management
GenericName[eo]=Projektadministrado
GenericName[es]=Gestión de proyectos
GenericName[et]=Projektihaldus
GenericName[eu]=Proiektuaren kudeaketa
GenericName[fi]=Projektinhallinta
GenericName[fr]=Gestion de projets
GenericName[gl]=Xestión de proxectos
GenericName[he]=ניהול מיזמים
GenericName[ia]=Administration de projectos
GenericName[id]=Pengelolaan Projek
GenericName[it]=Gestione dei progetti
GenericName[ka]=პროექტის მართვა
GenericName[nl]=Projectbeheer
GenericName[pl]=Zarządzanie projektami
GenericName[pt]=Gestão de Projectos
GenericName[pt_BR]=Gerenciamento de projetos
GenericName[ru]=Управление проектами
GenericName[sk]=Správa projektov
GenericName[sl]=Upravljanje projektov
GenericName[sv]=Projekthantering
GenericName[tr]=Proje Yönetimi
GenericName[uk]=Керування проєктами
GenericName[zh_CN]=项目管理
GenericName[zh_TW]=專案管理
Exec=calligraplan %U
MimeType=application/x-vnd.kde.plan;
X-KDE-NativeMimeType=application/x-vnd.kde.plan
Type=Application
Icon=calligraplan
DocPath=calligraplan/index.html
Categories=Qt;KDE;Office;ProjectManagement;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.calligraplan
